[Desktop Entry]
Name=Adiman
Type=Application
Comment=Music player for linux inspired by Namida
Terminal=false
Icon=Adiman
Categories=AudioVideo;Audio;Music;Player;
